/* #topDecor{
    min-height: 350px;
    background-color: #03746F;
  
  }

  #loginDetails{
    margin-top: -170px;
    background-color: white;
    min-height: 400px;
    margin-left: 25%;
    margin-right: 25%;
  }

  .login-form input{
    max-width:200px
  }

  .login-form{
    padding-top: 60px;
  }

  #login{
      color:  #03746F;
  }

  label{
      color: red;
  }

.topnav h3 {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
} */
.loginForm{
  position: relative;
  background: white;
  position: absolute;
  width: 400px;
  height: 500px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;
  border-radius: 5px;
}