#topdecor0 {
  min-height: 100px;
  background-color: #03746f;
}

#signup_box {
  margin-left: 20%;
  margin-right: 20%;
}

#signup_box form{
    padding-top: 60px;
}

#email_error{
  display: none;
}
 #username_error{
  display: none;
}
 #password_error {
  display: none;
}
#title_error{
  display: none;
}
#comment_error{
  display: none;
}
#location_error{
  display: none;
}
#phone_error{
  display: none;
}
#first_name_error{
  display: none;
}
#other_name_error{
  display: none;
}
#last_name_error{
  display: none;
}
#extra a{
  color: red;
  /* padding-left: 70px; */
}